* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.player, 
.nav,
.main,
.favorites {
  background-color: #121212;
  margin: 10px;
  color: white;
}

.nav,
.favorites {
  width: 30vw;
}

.nav {
  height: 20vh;
  border-radius: 10px
}

.favorites {
  height: 80vh;
  border-radius: 10px
}

.horizontal {
  display: flex;
  height: 90vh;
}

.main {
  width: 70vw;
  border-radius: 10px;
  background-color: rgb(33,33,33);
  background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 35%, rgba(18,18,18,1) 100%);
}

.left-block {
  display: flex;
  flex-direction: column;

}

.player {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  margin: 0px;
  height: 10vh;
}