* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.player, 
.nav,
.main,
.favorites {
  background-color: #121212;
  margin: 10px;
  color: white;
}

.nav,
.favorites {
  width: 28vw;
}

.nav {
  height: 13vh;
  border-radius: 10px;
  margin-bottom: 0px;
}

.favorites {
  height: 87vh;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

.horizontal {
  display: flex;
  height: 90vh;
}

.main {
  margin-left: 0px;
  width: 72vw;
  border-radius: 10px;
  background-color: rgb(33,33,33);
  background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 35%, rgba(18,18,18,1) 100%);
  overflow: scroll;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 12px;
}

.main::-webkit-scrollbar-track {
  background-color: rgb(42, 42, 42);
  background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 35%, rgba(18,18,18,1) 100%);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(53, 53, 53);
  border-radius: 20px;
}

.left-block {
  display: flex;
  flex-direction: column;

}

li {
  font-size: 30px;
}

.player {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  margin: 0px;
  height: 10vh;
}