* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.player, 
.nav,
.main,
.favorites {
  background-color: #121212;
  margin: 10px;
  color: white;
}

.nav,
.favorites {
  width: 28vw;
}

.nav {
  height: 13vh;
  border-radius: 10px;
  margin-bottom: 0px;
}

.favorites {
  height: 87vh;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

.horizontal {
  display: flex;
  height: 90vh;
}

.main {
  margin-left: 0px;
  width: 72vw;
  border-radius: 10px;
  background-color: rgb(33,33,33);
  background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 35%, rgba(18,18,18,1) 100%);
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}



*::-webkit-scrollbar {
  width: 12px;
}

.main::-webkit-scrollbar-track {
  background-color: rgb(42, 42, 42);
  background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 35%, rgba(18,18,18,1) 100%);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(53, 53, 53);
  border-radius: 20px;
}

.left-block {
  display: flex;
  flex-direction: column;

}

li {
  font-size: 30px;
}

.player {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  margin: 0px;
  height: 10vh;
}


/* ----------------------CARD------------------------ */

.card-sec {
  display: flex;
  flex-direction: column;
  margin: 30px 0 30px 50px;
}

.card-sec h1 {
  margin-bottom: 30px;
}

.cards-rendered {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 205px;
  height: 283px;
  background-color: #181818;
  padding: 16px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card .album-img {
  width: 173px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 10px;
  word-spacing: 2px;
}

.card:hover {
  background-color: #282828;
  cursor: pointer;
}

.card:hover .play-btn {
  opacity: 1;
}

.play-btn {
  background-color: #1FDF64;
  border-radius: 50px;
  padding: 10px;
  position: relative;
  float: right;
  bottom: 80px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}